<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @genero.nome %>
</p>

<p>
  <b>Programas com esse gênero:</b>
  <% @genero.programas.each do |programa| %>
  	<p><%= link_to programa.nome, programa_path(programa) %></p>
  <% end %>
</p>


<%= link_to 'Edit', edit_genero_path(@genero) %> |
<%= link_to 'Back', generos_path %>
