<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @programa.nome %>
</p>

<p>
  <b>Sinopse:</b>
  <%= @programa.sinopse %>
</p>

<p>
  <b>Duracao:</b>
  <%= @programa.duracao %>
</p>

<p>
  <b>Classificacao:</b>
  <%= link_to @programa.classificacao.descricao, classificacao_path(@programa.classificacao) %>
</p>

<p>
	<b>Gêneros</b>
	<% @programa.generos.each do |genero| %>
		<p><%= link_to genero.nome, genero_path(genero) %></p>
	<% end %>
</p>


<p>
	<h4>Programações</h4>
</p>
<% @programa.programacoes.each do |programacao| %>

<p>
  <b>Emissora:</b>
  <%= link_to programacao.emissora.nome, emissora_path(programacao.emissora) %>
</p>


<p>
  <b>Inicio:</b>
  <%= programacao.inicio %>
</p>

<p>
  <b>Fim:</b>
  <%= programacao.fim %>
</p>

<% end %>
<%= link_to 'Back', programas_path %>
