<%= form_for(@interacao) do |f| %>
  <% if @interacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interacao.errors.count, "error") %> prohibited this interacao from being saved:</h2>

      <ul>
      <% @interacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tempo %><br />
    <%= f.text_field :tempo %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.datetime_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
