<p id="notice"><%= notice %></p>

<p>
  <b>Tempo:</b>
  <%= @interacao.tempo %>
</p>

<p>
  <b>Data:</b>
  <%= @interacao.data %>
</p>

<p>
  <b>Emissora:</b>
  <%= link_to @interacao.programacao.emissora.nome, emissora_path(@interacao.programacao.emissora) %>
</p>

<p>
  <b>Programa:</b>
  <%= link_to @interacao.programa.nome, programa_path(@interacao.programa) %>
</p>

<p>
  <b>Stb:</b>
  <%= link_to @interacao.stb.identifier, stb_path(@interacao.stb) %>
</p>
<%= link_to 'Back', interacoes_path %>
