<%= form_for(@stb) do |f| %>
  <% if @stb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stb.errors.count, "error") %> prohibited this stb from being saved:</h2>

      <ul>
      <% @stb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
