<h1>Listing stbs</h1>

<table>
  <tr>
    <th>Identifier</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stbs.each do |stb| %>
  <tr>
    <td><%= stb.identifier %></td>
    <td><%= link_to 'Show', stb %></td>
    <td><%= link_to 'Edit', edit_stb_path(stb) %></td>
    <td><%= link_to 'Destroy', stb, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stb', new_stb_path %>
